

<!-- 
    <!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../assets/images/icons/favicon.ico" />
    
   
</head>

<body> -->

    <mat-card style="overflow: hidden;"> 
        <mat-card-content>
    
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            <div *ngIf="newYear" class="snow"></div>
            
            <div class="limiter">
                <!-- background-image: url(assets/images/slider_21.jpg); -->
                <div class="container-login100" [ngStyle]="{ 'background-image':newYear?'url(assets/images/snow.jpg)':'url(assets/images/slider_21.jpg)'}"
                    style="background-repeat: no-repeat; background-size: 100% 100%;">
                    <div class="wrap-login100">
                        <div class="login100-form-title" style="padding:20px 0px 20px 0px;">
    
    
                            <span class="login100-form-title-1">
                                <!-- Giriş -->
    
                                <img src="assets/images/barkodes_logo.png"
                                    style="background-repeat: no-repeat;background-size: 100% 100%;height: auto;width: 80%;">
    
                            </span>
                        </div>
    
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
                            <div class="login100-form validate-form" [ngStyle]="{'height': this.vekil ?'200px':'300px'}">
                                <div class="row">
                                    <div class="col-md-12" *ngIf="(!this.vekil)">
                                        <mat-form-field class="full-width-input">
                                            <!-- (change)="getUserLanguage()" -->
                                            <input matInput placeholder="Kullanıcı Adı" formControlName="userName" required>
                                            <mat-error *ngIf="isFieldInvalid('userName')">
                                                Kullanıcı adı giriniz.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12" *ngIf="(this.vekil)">
                                        <!-- <mat-label></mat-label> -->
                                        <mat-form-field class="full-width-input"  >
                                            <mat-select placeholder="Vekil Kullanıcılar"
                                                (selectionChange)="getUserPassword()" formControlName="userName">
                                                <mat-option *ngFor="let services of this.groupDelegations"
                                                    [value]="services">{{services}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
    
                                    <div class="col-md-12">
                                        <mat-form-field class="full-width-input" *ngIf="(!this.vekil)">
                                            <input matInput type="password" placeholder="Şifre" formControlName="password"
                                                required>
                                            <mat-error *ngIf="isFieldInvalid('password')">
                                                Şifre girişi yapınız
                                            </mat-error>
                                        </mat-form-field>
    
                                        <span style="width:135px"></span>
    
    
                                        <div class="flex-sb-m w-full p-b-30">
                                            <div class="contact100-form-checkbox">
                                                <mat-checkbox *ngIf="(this.vekil)" hidden (change)="HesapOnayla($event)"
                                                    class="label-checkbox101" formControlName="chkVekilUser"
                                                    [required]="this.vekil && this.loginCount===0">Vekil Olarak Giriş Yap
                                                </mat-checkbox>&nbsp;&nbsp;&nbsp;
                                                <div class="row">
    
                                                    <div class="col-md-6">
                                                        <mat-checkbox class="label-checkbox101" *ngIf="(!this.vekil)"
                                                            formControlName="remember">Beni Hatırla</mat-checkbox>
                                                    </div>
                                                    <!-- <a mat-button class="label-checkbox102" routerLink="/repassword">Şifremi Unuttum</a> -->
                                                    <div class="col-md-6">
                                                        <a mat-button class="label-checkbox102" *ngIf="(!this.vekil)"
                                                            (click)="forgotPassword()">Şifremi Unuttum</a>
                                                    </div>
                                                </div>
                                            </div>
    
    
                                            <!-- <div>
                                <a href=" # " class="txt1 ">
                                    Forgot Password?
                                </a>
                            </div> -->
                                        </div>
    
    
    
                                    </div>
                                </div>
                                <div class="container-login100-form-btn">
                                    <div class="row">
    
                                        <div class="col-md-6">
    
                                            <button class="login100-form-btn" mat-raised-button color="primary"
                                                type="submit ">Giriş</button>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="full-width-input"
                                                style="width: 80px;margin-left: 100px;">
                                                <mat-select placeholder="Dil" formControlName="llanguage">
                                                    <mat-option *ngFor="let services of usrlanguages" [value]="services.id">
                                                        {{services.dil}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
    
    
                                    <div class="row">
                                        <!-- <img id="image" [src]="this.imageData" width="100" height="100"> -->
                                        <div style="margin-left: 40px;  width: 350px; font-size: 8px;">2019 © Barkodes |
                                            Bütün Hakları Saklıdır</div>
    
    
                                    </div>
                                </div>
                            </div>
    
    
    
    
                        </form>
    
    
    
                    </div>
                </div>
            </div>
    
    
        </mat-card-content>
    </mat-card>
    <!-- 
    </body>
    
    </html> -->