<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../assets/images/icons/favicon.ico" />

</head>

<body>
    <!-- <mat-card>
        <mat-card-content> -->
    <div class="limiter">
        <div class="container-login100" style="background-color: white;">
            <div class="wrap-login100">
                <div class="login100-form-title">
                    <span class="login100-form-title-1">
                        Şifre Değiştir
                    </span>
                </div>

                <form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12" style="text-align: -webkit-center;">
                            <mat-form-field class="mat-form-field-infix filter" style="font-size: 12px; width: 300px;">
                                <input id="password"  matInput type="password" placeholder="Şifre" formControlName="password" required>
                           
                            </mat-form-field>

                            <mat-form-field class="mat-form-field-infix filter" style="font-size: 12px; width: 300px;">
                                <input id="repassword"   matInput type="password" placeholder="Şifre (Tekrar)"
                                    formControlName="repassword" required>
                           
                            </mat-form-field>
                            
                        </div>
                   
                    </div>
                    <div class="login100-form-title22">
                    
                    <div class="errors" *ngIf="form.get('password').invalid && (form.get('password').touched || form.get('password').dirty)">

                        <div  class="error-text"  *ngIf="form.get('password').hasError('required')">Şifre gerekli</div>
                
                        <div  class="error-text"  *ngIf="form.get('password').errors.minlength">Şifre en az 8 karakter olmalı</div>
                
                        <div class="error-text" *ngIf="form.get('password').hasError('passwordStrength')">{{form.get('password').errors['passwordStrength']}}</div>
                    </div>

                    <div class="errors" *ngIf="form.get('repassword').value.length==8 && form.get('password').value!= form.get('repassword').value">

                            Şifre (Tekrar) hatalı
                
                    </div>

                    </div>

                    
                    <div class="container-login100-form-btn">
                        <button [disabled]=" (!form.valid || form.get('password').value!= form.get('repassword').value)" class="login100-form-btn" mat-raised-button color="primary"
                            type="submit">Onay</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a mat-button class="login101-form-btn" routerLink="/outofoffice">Vazgeç</a> -->

                        <a mat-button class="login101-form-btn" (click)="onLogout()">Vazgeç</a>
                    </div>
                </form>


                <!-- <div style="text-align:center">2019 © Barkodes | Bütün Hakları Saklıdır.</div> -->

            </div>
        </div>
    </div>

    <!-- </mat-card-content>
    </mat-card> -->

</body>

</html>